/* experience and education tiles */
.collegeTile, .workTile {
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 400px;
    border-radius: 10%;
    border: 5px solid aliceblue;
    /* inside padding */
    padding: 3px; 
    /* outside margin  */
    margin: 3px;
    background-color: blue;
}
.collegeArray, .workArray {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* navigation bar */
.navBar {
    padding: 30px;
}
.individualButton {
    margin: 5px;
}

/* logos */
.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
  }
  .logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
  .logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }
  .logo.nginx:hover {
    filter: drop-shadow(0 0 2em #1ba30eaa);
  }
  .logo.tor:hover {
    filter: drop-shadow(0 0 2em #8628b6aa);
  }
  
  /* this spins the react logo */
  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  /* this breathes the nginx logo */
  @keyframes breath {
   
  }
  
  @media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
      animation: logo-spin infinite 20s linear;
    }
  }
  .footerContent {
    display: flex;
    flex-direction: column;
  }
  .techLogos {
    justify-content: center;
  }